<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="../../css/button.css">
</head>

<body>
    <div class="container" style="width: 200px; height: 200px;">
        
    </div>

    <div class="checkbox">
        <label>
            <input
                type="checkbox"
                checked
                data-toggle="toggle">
            Cotizaciones
        </label>
    </div>

    <script src="../../lib/jquery/js/jquery-3.6.0.min.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap-toggle.min.js"></script>
    <script src="main.js"></script>
</body>

</html>